---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: podcounters.counters.cloudprog.polito.it
spec:
  group: counters.cloudprog.polito.it
  names:
    kind: PodCounter
    listKind: PodCounterList
    plural: podcounters
    singular: podcounter
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PodCounter is the Schema for the podcounters API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: PodCounterSpec defines the desired state of PodCounter
            properties:
              namespace:
                type: string
            required:
            - namespace
            type: object
          status:
            description: PodCounterStatus defines the observed state of PodCounter
            properties:
              count:
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
